<div class="ROtemplateContainer ROthree-image-main clearfix">
    <div class="ROimage ROone-image">
        <a class="ROimageContainer">
            <img style="max-width: 100%"
                 src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/de39d9c6856b67141f59559ac34b9fac-new-sea.jpg">
        </a>
    </div>
    <div class="ROimage ROtwo-image">
        <a class="ROimageContainer">
            <img style="max-width: 100%"
                 src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/5d744ee58e80f0f7856340fd58d3f9e6-new-bag.jpg">
        </a>
    </div>
    <div class="ROimage ROthree-image">
        <a class="ROimageContainer">
            <img style="max-width: 100%"
                 src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/bebac0dfcc1a5a4137e99492706c1072-new-country.jpg">
        </a>
    </div>
</div>