<div class="chat-box">
    <div class="tab-content">
        <form ng-submit="vm.sendMessage(chatSender)" name="chatSender">
            <div role="tabpanel" class="tab-pane active" id="home">
                <textarea class="form-control msg_sender_"
                  name="message"
                  ng-model="vs.message"
                  placeholder="Enter Message"
                  style="resize: none;"></textarea>
                <div class="tabpanel-footer clearfix">
                    <a href="javascript:void(0)" class="click1"></a>
                    <a href="javascript:void(0)" class="click2"></a>
                    <a href="javascript:void(0)" ng-click="vm.uploadFile()"></a>
                    <button class="btn btn-secondary" ng-click="vs.sendMessage()">Send</button>
                </div>
            </div>
        </form>
        <div role="tabpanel" class="tab-pane" id="profile">
      <textarea class="form-control" placeholder="Messgae">
      </textarea>
        </div>
    </div>
</div>
