<div class="chat-box">
    <div class="tab-content">
        <form novalidate="" class="ng-untouched ng-pristine ng-valid">
            <div class="tab-pane active" id="home" role="tabpanel">
                <textarea class="form-control msg_sender_ ng-untouched ng-pristine ng-valid" data-gramm_editor="false" name="message" style="resize: none;" ng-reflect-name="message" placeholder="Type a message here" ng-reflect-model=""></textarea>
                <div class="tabpanel-footer clearfix">
                    <a class="click1" href="javascript:void(0)"></a>
                    <a class="click2" href="javascript:void(0)"></a>
                    <a class="click3" href="javascript:void(0)"></a>
                    <a class="click4" href="javascript:void(0)"></a>
                    <a class="click5" href="javascript:void(0)"></a>
                    <a class="click6" href="javascript:void(0)"></a>
                    <button class="btn btn-secondary">Send</button>
                </div>
            </div>
        </form>
        <div class="tab-pane" id="profile" role="tabpanel">
            <textarea class="form-control" placeholder="Type a message here">      </textarea>
        </div>
    </div>
</div>
