<div>
    <div ng-if="vu.listView" class="livechat-list" ng-repeat="list in vu.userList" ng-class="list.active ? 'active':''" ng-click="vu.listView = false;vu.userDetails(list)">
        <a href="javascript:void(0)">
            <span class="livechat-img"><img src="/assets/img/user2.jpg"></span>
            <span class="livechat-text">{{list.name}}</span>
        </a>
      </div>
    <div ng-if="!vu.listView" class="chat-window-mini">
        <chat-window></chat-window>
        <a href="javascript:void(0)" class="back-btn" ng-click="vu.listView = true"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    </div>
</div>