<div class="top-menu">
  <ul>
  <li><a href="#" class="logo"><img src="/assets/img/logo.png"/> </a></li>
  <li><a href="#"> Chat</a></li>
</ul>
</div>

  <!-- menu -->
  <!--<div data-ng-include=" '/admin/app/layout/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">-->
  <!--</div>-->
  <!-- / menu -->

  <!-- content -->
  <div class="app-content">
    <div ui-butterbar></div>
    <a class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
    <div class="app-content-body fade-in-up" ui-view></div>
  </div>
  <!-- /content -->

<div class="footer">
  @ Copyright 2017- All Right Reserved
  <div class="livechat-main">
    <div class="chat-icon"><a href="#"><img src="/assets/img/chat-icon.png"/> </a> </div>
    <div class="livechat-list-main">
      <div class="livechat-list-title">Conversations</div>
      <user-chat show-in-chat-window="true"></user-chat>
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $(".chat-icon").click(function(){
            $(".livechat-list-main").toggle();
        });
    });
</script>