<div class="ROtemplateContainer ROFullTemplate ROCenterText clearfix ROFullTemplateWithImage">
    <div class="ROimage">
        <a class="ROimageContainer">
            <img style="width: 100%" src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/9956e8a1eb28cf7b2677ffe81a59daa2-career-banner.jpg">
        </a>
    </div>
    <div class="ROeditable ROContentCenter">
        <h2>Lorem Ipsum is simply</h2>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.
    </div>
</div>