<div class="clearfix ROFullTemplateOnRight ROtemplateContainer ROFullTemplateWithImage ROFullTemplate">
    <div class="career-banner clearfix odd">
        <div class="career-banner-left">
            <div class="career-banner-left-content ROeditable"><h2>You at Harris Teeter</h2>
                <p>Our associates are the most valuable resource in fulfilling our passionate pursuit for customer
                    service excellence.</p></div>
        </div>
        <div class="career-banner-right ROimage">
            <a class="ROimageContainer image-box2">
                <img src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/42b33701526e473a061bbbefbfa502b4-benefits-img1.jpg" alt="">
            </a>
        </div>
    </div>
</div>