<div class="ROtemplateContainer ROtwoimage-sidecaption clearfix">
    <div class="ROfleft">
        <div class="ROimage ">
            <a class="ROimageContainer">
                <img style="max-width: 100%"
                     src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/2a05abae6819186ae501e1f7babc970f-sun-flowers-560082_960_720.jpg">
            </a>
        </div>
        <div class="ROeditable">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s.
        </div>
    </div>
    <div class="ROfright">
        <div class="ROimage">
            <a class="ROimageContainer">
                <img style="max-width: 100%"
                     src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/478fb061dc16093e51e6b9f5869f870f-tulip.jpg">
            </a>
        </div>
        <div class="ROeditable">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s.
        </div>
    </div>
</div>