<div class="ROtemplateContainer ROtwoimage-bottomcaption clearfix">
    <div class="ROfleft">
        <div class="ROimage ">
            <a class="ROimageContainer">
                <img style="max-width: 100%"
                     src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/bebac0dfcc1a5a4137e99492706c1072-new-country.jpg">
            </a>
        </div>
        <div class="ROeditable">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s.
        </div>
    </div>
    <div class="ROfright">
        <div class="ROimage">
            <a class="ROimageContainer">
                <img style="max-width: 100%"
                     src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/de39d9c6856b67141f59559ac34b9fac-new-sea.jpg">
            </a>
        </div>
        <div class="ROeditable">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s.
        </div>
    </div>
</div>