<div class="chat-window">
    <ul class="chattext-list">
        <li class="even"><span class="chat-userimg"><img src="assets/img/user-img2.jpg"/></span><div class="chatbg">
            <span class="chattext">shsdkshdksad</span>
        </div>
            <span class="info">Sent an hour ago</span></li>
        <li class="odd">
                      <span class="chat-userimg">
                        <img src="assets/img/user-img2.jpg"/>
                      </span>
            <div class="chatbg">
                <span class="chattext">shsdkshdksad</span>
            </div>
            <span class="info">Sent an hour ago</span>
        </li>
    </ul>
    <!--<div>-->
        <!--<div ng-repeat="message in vl.messages track by $index">-->
            <!--{{message}}-->
        <!--</div>-->
    <!--</div>-->
</div>
