<div class="whats-hot-section content-editor-home-tile ROtemplateContainer">
    <div class="row">
        <div class="col-lg-12"><!-- <h2>{{vm.whatsHotTitle}}</h2> -->
            <ul><!-- ngRepeat: hotbox in vm.hotboxes -->
                <li class="shopping-new">
                    <div>
                        <div class="whats-hot-text ROeditable" style="height: 56px;">
                            <h3 class="ng-binding">ORDER GROCERIES</h3>
                            <p class="ng-binding">Save time and shop online with Expresslane</p>
                        </div>
                        <div class="whats-hot-image">
                            <div class="ROimage ">
                                <a class="ROimageContainer">
                                    <img alt="shopping" title="shopping"
                                         src="https://21ac30f864a0a81d521c-038515ec96d1bbb68b503fecf1ad33bb.ssl.cf1.rackcdn.com/ec2b5f9e318d837955ab2b0b5ae048f0-onlineshopping.jpg"
                                         class="fr-dii fr-draggable">
                                </a>
                            </div>
                        </div>
                    </div>
                </li><!-- end ngRepeat: hotbox in vm.hotboxes -->
                <li class="weekly-new">
                    <div>
                        <div class="whats-hot-text ROeditable" style="height: 56px;">
                            <h3 class="ng-binding">WEEKLY AD</h3>
                            <p class="ng-binding">Checkout this week's special</p>
                        </div>
                        <div class="whats-hot-image">
                            <div class="ROimage ">
                                <a class="ROimageContainer">
                                    <img alt="Checkout this week's special" title="Checkout this week's special"
                                         src="https://21ac30f864a0a81d521c-038515ec96d1bbb68b503fecf1ad33bb.ssl.cf1.rackcdn.com/16af44f772f2f72dd9628ea9f7d3b3d2-weeklyspecials.jpg"
                                         class="fr-dii fr-draggable">
                                </a></div>
                        </div>
                    </div>
                </li><!-- end ngRepeat: hotbox in vm.hotboxes -->
                <li class="e-vic-new">
                    <div>
                        <div class="whats-hot-text ROeditable" style="height: 56px;">
                            <h3 class="ng-binding">SHOPPING LIST</h3>
                            <p class="ng-binding">Add items to your shopping list!</p>
                        </div>
                        <div class="whats-hot-image">
                            <div class="ROimage ">
                                <a class="ROimageContainer">
                                    <img alt="Shopping list, build it and shop it!"
                                         title="Shopping list, build it and shop it!"
                                         src="https://21ac30f864a0a81d521c-038515ec96d1bbb68b503fecf1ad33bb.ssl.cf1.rackcdn.com/f579604e0e96df9e4f3735163338510c-shoppinglist2.jpg"
                                         class="fr-dii fr-draggable">
                                </a></div>
                        </div>
                    </div>
                </li><!-- end ngRepeat: hotbox in vm.hotboxes -->
                <li class="order-new">
                    <div>
                        <div class="whats-hot-text ROeditable" style="height: 56px;">
                            <h3 class="ng-binding">ORDER AHEAD</h3>
                            <p class="ng-binding">Cakes, Party, Platters, Subs, Pizzas and more!</p>
                        </div>
                        <div class="whats-hot-image">
                            <div class="ROimage ">
                                <a class="ROimageContainer">
                                    <img alt="Cakes, Party, Platters, Subs, Pizzas and more!"
                                         title="Cakes, Party, Platters, Subs, Pizzas and more!"
                                         src="https://21ac30f864a0a81d521c-038515ec96d1bbb68b503fecf1ad33bb.ssl.cf1.rackcdn.com/c66360800d85351cf9f532551038977d-orderahead.jpg"
                                         class="fr-dii fr-draggable"> </a></div>
                        </div>
                    </div>
                </li><!-- end ngRepeat: hotbox in vm.hotboxes -->
                <li class="education-new">
                    <div>
                        <div class="whats-hot-text ROeditable" style="height: 56px;">
                            <h3 class="ng-binding">TOGETHER IN EDUCATION</h3>
                            <p class="ng-binding">Help earn money for your local schools</p>
                        </div>
                        <div class="whats-hot-image">
                            <div class="ROimage ">
                                <a class="ROimageContainer">
                                    <img alt="Together In Education" title="Together In Education"
                                         src="https://21ac30f864a0a81d521c-038515ec96d1bbb68b503fecf1ad33bb.ssl.cf1.rackcdn.com/a1badfa6a4b9ef49896446fc3e8e939a-togetherineducation1.jpg"
                                         class="fr-dii fr-draggable"> </a></div>
                        </div>
                    </div>
                </li><!-- end ngRepeat: hotbox in vm.hotboxes -->
                <li class="pharmacy-new">
                    <div>
                        <div class="whats-hot-text ROeditable" style="height: 56px;">
                            <h3 class="ng-binding">PHARMACY</h3>
                            <p class="ng-binding">Order Your prescription Online</p>
                        </div>
                        <div class="whats-hot-image">
                            <div class="ROimage ">
                                <a class="ROimageContainer">
                                    <img alt="Order Your prescription Online" title="Order Your prescription Online"
                                         src="https://21ac30f864a0a81d521c-038515ec96d1bbb68b503fecf1ad33bb.ssl.cf1.rackcdn.com/e5df2f0bc49709644af8043a1f71d13b-pharmacy.jpg"
                                         class="fr-dii fr-draggable">
                                </a></div>
                        </div>
                    </div>
                </li><!-- end ngRepeat: hotbox in vm.hotboxes -->
            </ul>
        </div>
    </div>
</div>