<div class="ROtemplateContainer ROfulltitleh2_description clearfix">
    <div class="ROeditable col1">
        <h2 class="mtop0"> Lorem Ipsum is simply dummy text</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has sur
            vived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="ROimage col2">
        <a class="ROimageContainer">
            <img style="max-width: 100%"
                 src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/1b3729cd37635d68083882d3e8a18357-light-house.jpg">
        </a>
    </div>
</div>