<div class="ROtemplateContainer ROfulltitleh2_description2 clearfix">
    <div class="ROeditable col1">
        <h2 class="mtop0">Harris Teeter Unveils Carolina Panthers’ Andrew Norwell’s “Hog Mollie” Signature
            Sub Sandwich</h2>
        <h3><i>Norwell to Sign Autographs, Sample Signature Sub Sandwich, Introduce Fans to Must-Have Meal for Lunch</i></h3>
        <div class="ROimage" contenteditable="false">
            <a class="ROimageContainer">
                <img style="max-width: 100%"
                     src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/1b3729cd37635d68083882d3e8a18357-light-house.jpg">
            </a>
        </div>
        <p> <strong> Date: </strong>Tomorrow, November 22, 2016 <strong>Time: </strong>1–2 p.m.</p>
        <p>  <strong> Where: </strong>Morrocroft Village Harris Teeter, 6701 Morrison Boulevard, Charlotte, N.C. 28211</p>
        <p style="text-align:center"> <strong> Interviews are available. Live shots are welcomed!</strong></p>
        <p>Tuesday, November 22, Carolina Panthers’ guard Andrew Norwell will team up with Harris Teeter to debut his personally designed signature sub sandwich which is guaranteed to fill even the largest appetite.</p>
        <p>Norwell’s sandwich, “Hog Mollie,” is a must - try for Harris Teeter shoppers. For only $3.99, fans can satisfy their appetite with the “Hog
            Mollie” which features roasted turkey, corned beef and pastrami topped with provolone cheese, lettuce, banana peppers, mayonnaise and spicy mustard on a wheat sub roll. Shoppers can make it a lunch pack for only $4.99. The lunch pack includes the “Hog Mollie” sandwich, a drink and your choice of one chocolate chunk, macadamia nut, oatmeal raisin or cranberry nut cookie.</p>
        <p>The “Hog Mollie” will be available in the Fresh Foods Market Sandwich Shop in all Charlotte-area Harris Teeter stores. Tuesday only, however, Norwell will make an appearance at the Morrocroft Village Harris Teeter to personally introduce shoppers and fans to his signature sub sandwich.He will also be signing autographs. </p>
        <p>Harris Teeter’s Fresh Foods Market offers made-to-order sandwiches and wraps daily and is proud to introduce the “Hog Mollie” as Harris
            Teeter’s third Signature Sub Sandwich of the 2016-2017 season.Be on the look-out for additional Signature Sub Sandwiches this season.</p>
    </div>

</div>