<div class="ROtemplateContainer ROcontent-image-70-30 clearfix">
        <div class="ROeditable ROfleft">
            <h2 class="mtop0">Lorem Ipsum is simply</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book. It has sur
        vived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.</p>
            <p><a href="#" class="btn">Read More</a></p>
    </div>
        <div class="ROimage  ROfright">
        <a class="ROimageContainer">
            <img style="max-width: 100%"
                 src="https://342ef06f7012432e13bf-6098134cdfd72034e7351750f73582f3.ssl.cf1.rackcdn.com/fea658394760ce9c3a7795bff5c007e7-sunflower.jpg">
        </a>
    </div>

</div>